/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/
main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#testoAlternato {
    border: 2px solid rgb(85, 85, 85);
    padding: 1em;
    font-family: 'Bree Serif', serif;
    width: 30%
}
span{
    position: relative;
}
i {
    position: absolute;
    left: 3px;
    color: rgb(63, 136, 158);
    width: max-content;
}
#text-1 {
    opacity: 0;
    animation: textA1 7s infinite;
}
#text-2 {
    opacity: 0;
    animation: textA2 7s infinite;
}
#text-3 {
    opacity: 0;
    animation: textA3 7s infinite;
}
@keyframes textA1 {
    0% {
        opacity: 0;
        transform: translateY(-5px);
    }
    16.5% {
        opacity: 1;
        transform: translateY(0);
    }
    33% {
        opacity: 0;
        transform: translateY(5px);
    }
    100%{
        opacity: 0;
    }
}
@keyframes textA2 {
    0% {
        opacity: 0;
    }
    33% {
        opacity: 0;
        transform: translateY(-5px);
    }
    44.5% {
        opacity: 1;
        transform: translateY(0);
    }
    66% {
        opacity: 0;
        transform: translateY(5px);
    }
    100%{
        opacity: 0;
    }
}
@keyframes textA3 {
    0% {
        opacity: 0;
    }
    66% {
        opacity: 0;
        transform: translateY(-5px);
    }
    82.5% {
        opacity: 1;
        transform: translateY(0);
    }
    100%{
        opacity: 0;
        transform: translateY(5px);
    }
}