@import "./partials/colors";
@import "./partials/mixin";

section.pickIt {
  div.col-6:hover {
    position: relative;
    transform: scale(1.2);
    transition: transform 200ms;

    .vid_hover {
      display: block !important;
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0));
      backdrop-filter: blur(1px);
      padding: 1em;

      i {
        font-size: 2em;
      }
      p {
        white-space: nowrap;

        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}
